{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">
 <h1>Меня зовут Вито Скалетта. Я родился на Сицилии, в 25-м году.</h1>
 <p>Создатель сайта человек, при жизни ставший легендой.
    Народный артист Советского Союза, Украины, России и даже Чечено-Ингушетии,
    лауреат государственной премии СССР и премии Ленинского комсомола,
    человек признанный, известный, авторитетный, мэтр,
    человек который творил эту эпоху, и который сам стал эпохой</p>
 <img src="{% static 'img/author.jpeg' %}" width="380" height="500" class="d-inline-block align-top" alt="">
 <a href="https://github.com/semenpotapenko26">
    Сылка на мой GitHub
  </a> 
{% endblock %}