{% extends "base.html" %}
{% load static %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container py-5">
 <div class="row">
   <h1>Я пока ничего не умею, кроме</h1>
   <aside class="col-12 col-md-3">
     <ul class="list-group list-group-flush">
       <li class="list-group-item">
         Python
       </li>
       <li class="list-group-item">
         Django
       </li>
     </ul>
   <img src="{% static 'img/tech.jpg' %}" width="500" height="500" class="d-inline-block align-top">
   <article class="col-12 col-md-9">
     <p>Но держите котью</p>
   </article>
 </div>
 {% endblock %}
